.navbar-buttons .btn {
    margin-right: 20px;
  }
  
  @media (max-width: 768px) {
    .navbar-buttons {
      display: flex;
      flex-direction: column;
    }
    .navbar-buttons .btn {
      margin-bottom: 20px;
    }
  }
  